@page "/event"

@using LystfiskerPortalen.Models
@using LystfiskerPortalen.Persistence
@inject IEventRepository EventRepo

<PageTitle>Begivenheder</PageTitle>

<h1 class="mb-3"> Begivenheder</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var Event in allEvents)
    {
        <div class="col">
            <div class="card" style="width: 18rem; height: 18rem">
                <div class="card-body">
                    @* Event title *@
                    <h5 class="card-title">@Event.Title</h5>

                    @* Event details:  *@
                    @foreach (Picture img in Event.Pictures)
                    {
                        <img src="@img.PictureName" alt="Event image" class="img-fluid mb-2" />
                    }
                    <p class="card-text"> <br /> @Event.EventTime </p>

                    @* Event description *@
                    <p class="card-text">@Event.Description</p>
                    <p class="card-text">@Event.Location</p>

                    @* Buttons *@
                    <a class="btn btn-primary" asp-controller="Events" asp-action="Se mere" asp-route-id="@Event.">Se
                        mere</a>
                    @*
                       <a class="btn btn-danger" asp-controller="Events" asp-action="">Slet</a> 
                       <a class="btn btn-danger" asp-controller="Events" asp-action="">Rediger</a> 
                   *@
                </div>
            </div>
        </div>
    }
</div>

@code {

    public List<Event> allEvents = new();
    protected override void OnInitialized()
    {
        allEvents = EventRepo.GetAllEvents().ToList();
        base.OnInitialized();
    }




}