@page "/"
@using LystfiskerPortalen.Models
@using LystfiskerPortalen.Persistence
@inject IPostRepository PostRepo


<div class="d-flex justify-content-center mb-3">
    <div style="width:45rem; display:flex; justify-content:space-between;">
        <button class="btn btn-outline-secondary">Sorter Efter:</button>
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#catchModal">Ny Fangst</button>
    </div>
</div>

<div class="d-flex flex-column align-items-center">
    <textarea class="form-control mb-4 border-4" 
        style="width:45rem; cursor:pointer;" 
        placeholder="Nyt opslag.."
        data-bs-toggle="modal" 
        data-bs-target="#CreatePostModal"></textarea>
    <CreatePostModal />
    
      
    @foreach (var post in Posts)
    {
        <div class="card mb-5 border-3" style="width: 45rem;">
            <div class="card-body">
                <div class="card-title">
                    <div class="d-flex">
                        <ProfileComponent ProfileUserName="@post.Profile.UserName"/>
                        @if ((post as GeneralPost)?.IsQuestion == true)
                        {
                            <span class="badge bg-success ms-3 " style="height:23px ">Spørgsmål</span>
                        }
                        @if ((post is Catch)) {
                            <span class="badge bg-info ms-3 " style="height:23px ">Fangst</span>
                        }
                    </div>
                </div>
                <p class="card-text">@post.PostTime</p>
                <p class="card-text">@post.Description</p>
                @if (!string.IsNullOrEmpty(post.Images[0].ImageName))
                {
                    foreach (Image img in post.Images)
                    {
                        <img class="card-img-top" src="@post.Images" alt="Card image">
                    }
                }
            </div>
            <div class="card-text ms-3 mb-2"><span class="badge bg-warning">@post.Reactions.Count</span></div>
            <ul class="list-group list-group-flush">
                @foreach (var comment in post.Comments)
                {
                    <li class="list-group-item">
                    <img class="rounded-circle me-1" 
                            width="24" 
                            height="24"
                            src="@(comment.Profile.ProfilePicture ?? "https://github.com/mdo.png")" />
                            @comment.Profile | 
                            @comment.Text
                        </li>
                }
            </ul>
            <EditForm Model="post" class="card-text p-2">
                <InputTextArea class="form-control mt-2" @bind-Value="NewComment.Text"
                    Placeholder="Skriv en kommentar..." />
                <button type="submit" class="btn btn-primary mt-2">Kommenter</button>
            </EditForm>
        </div>
    }

</div>



@code {
    protected override void OnInitialized()
    {
        Posts = PostRepo.GetAll().ToList();
        base.OnInitialized();
    }
    public GeneralPost NewPost { get; set; } = new GeneralPost();
    public Comment NewComment { get; set; } = new Comment();
    public List<Post> Posts { get; set; } = new List<Post>();

}
