@using LystfiskerPortalen.Models
@using LystfiskerPortalen.Persistence
@using LystfiskerPortalen.Services
@using Microsoft.AspNetCore.Identity

@rendermode InteractiveServer

@inject ImageService ImageService
@inject AuthenticationStateProvider AuthState
@inject UserManager<Profile> UserManager

@inject NavigationManager navManager
@inject IPostRepository PostRepository

<div class="modal fade" id="catchModal" tabindex="-1" role="dialog" aria-labelledby="catchModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="catchModalLabel">Opret Fangst</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="mb-2">
                            <ProfileComponent />
                        </div>

                        <EditForm Model="@Catch" OnValidSubmit="() => CreateCatchPost()">
                            <DataAnnotationsValidator />
                            <div class="form-group">
                                <InputTextArea class="form-control" @bind-value="Catch.Description"
                                    placeholder="Fortæl os om din fangst...">
                                </InputTextArea>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="fishSpecies">Hvilken fisk har du fanget?</label>
                                        <InputText @bind-value="Catch.Fish.Name" class="form-control" />
                                        <ValidationMessage For="@(() => Catch.Fish.Name)" />
                                    </div>

                                    <div class="form-group">
                                        <label>Hvor meget vejer fisken?</label>
                                        <InputNumber @bind-value="Catch.Fish.Weight" class="form-control" />
                                        <ValidationMessage For="@(() => Catch.Fish.Weight)" />
                                    </div>

                                    <div class="form-group">
                                        <label>Hvilke blink anvendte du?</label>
                                        <InputText class="form-control" @bind-value="Catch.Lure" />
                                        <ValidationMessage For="@(() => Catch.Lure)" />
                                    </div>

                                </div>

                                <div class="col-sm">

                                    <div class="form-group">
                                        <label for="fishLength">Hvor lang er fisken?</label>
                                        <InputNumber @bind-value="Catch.Fish.Length" class="form-control" />
                                        <ValidationMessage For="@(() => Catch.Fish.Length)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="fishingTechniques">Hvilken teknik anvendte du?</label>
                                        <InputText id="fishingTechniques" class="form-control"
                                            @bind-value="Catch.Technique" />
                                        <ValidationMessage For="@(() => Catch.Technique)" />
                                    </div>
                                    <div class="form-group" style="margin-bottom:20px;">
                                        <label for="catchDate">Dato på fangst</label>
                                        <InputDate id="catchDate" class="form-control" @bind-value="Catch.CatchTime" />
                                        <ValidationMessage For="@(() => Catch.CatchTime)" />
                                    </div>
                                </div>
                            </div>
                            <PostAddonsComponent OnLocationForwarded="GetLocation" />
                            <AuthorizeView Context="authContext">
                                <Authorized>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary w-100">Opret Fangst</button>
                                    </div>
                                </Authorized>
                                <NotAuthorized>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary w-100" disabled>Log ind for at
                                            oprette
                                            fangst</button>
                                    </div>
                                </NotAuthorized>
                            </AuthorizeView>
                        </EditForm>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Catch Catch { get; set; } = new Catch();

    public void GetLocation((double lat, double lon) location)
    {
        latitude = location.lat;
        longitude = location.lon;
    }

    public async Task CreateCatchPost()
    {

        var authState = await AuthState.GetAuthenticationStateAsync();
        var user = authState.User;
        var currentUser = await UserManager.GetUserAsync(user);

        var userId = currentUser.Id;



        Catch catchPost = new Catch
        {
            PostTime = DateTime.UtcNow,
            Location = new Location
            {
                Name = "Location Name", //Før dette linje kunne vi f.eks. kalde en geokodningsservice for at få et rigtigt navn
                Latitude = latitude ?? 0.0,
                Longitude = longitude ?? 0.0,
            },
            ProfileId = userId,
            Pictures = ImageService.GetPictures(),
        };
        catchPost.Description = Catch.Description;
        catchPost.Fish = Catch.Fish;
        catchPost.Lure = Catch.Lure;
        catchPost.Technique = Catch.Technique;
        catchPost.CatchTime = Catch.CatchTime;

        PostRepository.Add(catchPost);
        navManager.NavigateTo(navManager.Uri, forceLoad: true);
    }

    private double? latitude;
    private double? longitude;
}